client/node_modules/*
client/node_modules
server/node_modules/*
server/node_modules
ion-cluster
ion-cluster/*
ion-sfu
ion-sfu/*
actions/ion-sfu
actions/ion-sfu/*
ion-sdk-go
ion-sdk-go/*
webrtc
webrtc/*
pion-tools/ion-cluster
pion-tools/track-to-disk/testwebm
pkg
pkg/*
actions/out/*
bin/
bin/*
.vscode
.vscode/*
cfgs/gcloud/*
sfu-coordinator/steady-datum-291915-386b3c696fb0.json
.env
caddy/.env
my_password.txt