{
	email blog@excellencetechnologies.in
	http_port 80
	https_port 443
	dynamic_dns {
		provider cloudflare vPQZbuFEb61mmJ8w9TGVUWFY-Yb3aOidtrJIroBS
		domains {
			platoo.in sfu-coordinator sfu-host
		}
	}
}
sfu-coordinator.platoo.in {
	header {
		Access-Control-Allow-Origin *
		-Server
	}
	reverse_proxy 127.0.0.1:4000
	tls {
		dns cloudflare vPQZbuFEb61mmJ8w9TGVUWFY-Yb3aOidtrJIroBS
		resolvers 1.1.1.1
	}
}
sfu-host.platoo.in {
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets 127.0.0.1:7002
	tls {
		dns cloudflare vPQZbuFEb61mmJ8w9TGVUWFY-Yb3aOidtrJIroBS
		resolvers 1.1.1.1
	}
}
