{
	email {env.CLOUDFLARE_EMAIL}
	http_port 80
	https_port 443
	dynamic_dns {
		provider cloudflare {env.CLOUDFLARE_API_TOKEN}
		ip_source simple_http https://icanhazip.com
		ip_source simple_http https://api.ipify.org
		domains {
			excellencetechnologies.info sfu sfu-host
		}
	}
}
sfu.excellencetechnologies.info {
	header {
		Access-Control-Allow-Origin *
		-Server
	}
	reverse_proxy 127.0.0.1:4000
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}
sfu-host.excellencetechnologies.info {
	@websockets {
		header Connection *Upgrade*
		header Upgrade websocket
	}
	reverse_proxy @websockets 127.0.0.1:7002
	tls {
		dns cloudflare {env.CLOUDFLARE_API_TOKEN}
		resolvers 1.1.1.1
	}
}
